:root {
  --primaryCol: linear-gradient(to right, #0052D4, #4364F7, #6FB1FC);
}

.navbar {
  padding: 0rem 1rem;
  color: white;
}

.navbar-brand>img {
  max-width: 3rem;
}

.product-name {
  font-size: 1.1rem;
}

.price-theory {
  color: black;
  padding: 1rem;
}

.price {
  font-size: 2rem;
  color: #0063B1;
}

.cut-price {
  font-size: 1rem;
  color: #0063B1;
  letter-spacing: 1px;
}

.dis-price {
  color: #0063B1;
  font-size: 1rem;
  letter-spacing: 1px;
}

.my-btn {
  margin-left: 1rem;
  margin-top: 1rem;
}

.buy-product-btn {
  background: #0063B1 !important;
  border:none;
}
.my-btn-more{
  background: white!important;
  border:none;
  color: black;
}