:root {
  --primaryCol: linear-gradient(to right, #0052D4, #4364F7, #6FB1FC);
}

.navbar {
  padding: 0rem 1rem;
  color: white;
}

.navbar-brand>img {
  max-width: 3rem;
}

.product-name {
  font-size: 1.1rem;
}

.price-theory {
  color: black;
  padding: 1rem;
}

.price {
  font-size: 2rem;
  color: #0063B1;
}

.cut-price {
  font-size: 1rem;
  color: #0063B1;
  letter-spacing: 1px;
}

.dis-price {
  color: #0063B1;
  font-size: 1rem;
  letter-spacing: 1px;
}

.my-btn {
  margin-left: 1rem;
  margin-top: 1rem;
}

.buy-product-btn {
  background: #0063B1 !important;
  border: none;
  display: block;
  margin: 1rem .5rem;
}

.my-btn-more {
  background: white !important;
  border: none;
  color: black !important;
  outline: none;
}

.bi-bag-fill {
  margin: .2rem;
}

.my-dd-menu {
  padding: 3rem;
  margin-top: 2rem;
  margin-left: -10rem;

}

.my-dd-menu-text {
  font-weight: bold;
}

.my-dd-menu>svg {
  position: relative;
  top: 2rem;
  left: -2rem;
}

.related-product-heading {
  text-align: center;
  color: white;
  background: #4364F7;
  padding: 1rem;
  width: 100% !important;
}

.related-product {
  border: white 40px solid;
  overflow: hidden;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}



.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}

.facebook>img {
  max-width: 3rem;
  overflow: hidden;
  background: transparent;
}

.twitter>img {
  max-width: 3rem;
  overflow: hidden;
}

.dribbble>img {
  max-width: 3rem;
  overflow: hidden;
}

.linkedin>img {
  max-width: 3rem;
  overflow: hidden;
}